<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6018894296821" version="0.0.1"> 
  <name>cafebarPrint</name>  
  <description>用于平衡商城打印,接单</description>  
  <author email="369204944@qq.com" href="http://www.apicloud.com">mobileSD</author>  
  <content src="index.html"/>  
  <preference name="appBackground" value="rgba(0,0,0,0)"/>  
  <preference name="windowBackground" value="rgba(0,0,0,0)"/>  
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0)"/>  
  <preference name="autoLaunch" value="true"/>  
  <preference name="autoUpdate" value="true"/>  
  <preference name="smartUpdate" value="false"/>  
  <preference name="debug" value="true"/>  
  <preference name="statusBarAppearance" value="true"/>  
  <preference name="debug" value="true"/>  
  <permission name="location"/>  
  <permission name="internet"/>  
  <permission name="slipList"/>  
  <permission name="UILoading"/>  
  <permission name="posPrinter"/>  
  <permission name="dialogBox"/>  
  <access origin="*"/> 
</widget>
